# 181. Employees Earning More Than Their Managers
* https://leetcode.com/problems/employees-earning-more-than-their-managers/description/

## 문제

In [ ]:
Table: Employee

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| salary      | int     |
| managerId   | int     |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.
 

Write a solution to find the employees who earn more than their managers.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
+----+-------+--------+-----------+
| id | name  | salary | managerId |
+----+-------+--------+-----------+
| 1  | Joe   | 70000  | 3         |
| 2  | Henry | 80000  | 4         |
| 3  | Sam   | 60000  | Null      |
| 4  | Max   | 90000  | Null      |
+----+-------+--------+-----------+
Output: 
+----------+
| Employee |
+----------+
| Joe      |
+----------+
Explanation: Joe is the only employee who earns more than his manager.

## 문제풀이

import pandas as pd

def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    manager_salary = employee[['id','salary']]
    df = pd.merge(employee, manager_salary, left_on='managerId', right_on='id')
    answer = df[(df['salary_x']>df['salary_y'])]
    answer.rename(columns = {'name':'Employee'}, inplace=True)
    return pd.DataFrame(answer['Employee'])

* self join 형식으로 진행을 해야한다.
* employee에서 id랑 salary만 가져와 준 후 조인해주기.
* 조건에 맞는 데이터 프레임을 가져온 후 정답 column은 rename으로 바꿔주기

## 코멘트
* 반환값을 잘 보자.
* Series랑 DataFrame은 엄연히 다른 객체