# 184. Department Highest Salary
* https://leetcode.com/problems/department-highest-salary/description/?lang=pythondata

## 문제

In [ ]:
'''
Table: Employee

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| id           | int     |
| name         | varchar |
| salary       | int     |
| departmentId | int     |
+--------------+---------+
id is the primary key (column with unique values) for this table.
departmentId is a foreign key (reference columns) of the ID from the Department table.
Each row of this table indicates the ID, name, and salary of an employee. It also contains the ID of their department.
 

Table: Department

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table. It is guaranteed that department name is not NULL.
Each row of this table indicates the ID of a department and its name.
 

Write a solution to find employees who have the highest salary in each of the departments.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
+----+-------+--------+--------------+
| id | name  | salary | departmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |
+----+-------+--------+--------------+
Department table:
+----+-------+
| id | name  |
+----+-------+
| 1  | IT    |
| 2  | Sales |
+----+-------+
Output: 
+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Jim      | 90000  |
| Sales      | Henry    | 80000  |
| IT         | Max      | 90000  |
+------------+----------+--------+
Explanation: Max and Jim both have the highest salary in the IT department and Henry has the highest salary in the Sales department.
'''

## 문제풀이

* groupby 이후 rank를 매겨서 부서 별 1등인 사람들만 불러오기
* table이 2개라서 merge로 join을 시켜준다.

## 코드

In [ ]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    employee['rank'] = employee.groupby('departmentId')['salary'].rank(method='dense', ascending=False)
    high_salary_employee = employee[employee['rank'] == 1]
    answer = pd.merge(high_salary_employee, department,
                        left_on='departmentId', right_on='id',
                        suffixes=('_high_salary_employee', '_department'))
    answer.rename(columns = {'name_department':'Department','name_high_salary_employee':'Employee', 'salary':'Salary'}, inplace=True)
    return answer[['Department','Employee','Salary']]

## 코멘트
* join시 이름이 바뀌는 점 주의.
* 공통된 컬럼명이 없는 경우에는 on 대신 left_on, right_on을 써줘야한다.
* suffixes는 조인되면 컬럼명이 변경되는데 이를 구분하기 위함. 쓰지 않는 경우 _x, _y가 붙는다.