# 176. Second Highest Salary

## 문제

In [ ]:
'''
Table: Employee

+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 

Write a solution to find the second highest salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
Output: 
+---------------------+
| SecondHighestSalary |
+---------------------+
| 200                 |
+---------------------+
Example 2:

Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
Output: 
+---------------------+
| SecondHighestSalary |
+---------------------+
| null                |
+---------------------+
'''

## 문제풀이
* Salary가 두 번째로 큰 값을 찾아야 한다.
* 고려해야 할 점은, 두 번째로 큰 값이 없으면 Null값을 반환한다.
* unique()를 통해서 급여 정보를 받아오고 정렬한다.
* 만약 salary 길이가 1보다 큰 경우에는 주어진 조건에 맞춰서 2번째로 큰 값을 가.
* 그렇지 않은 경우에는 None을 반환한다.을 반환

## 코드

In [ ]:
import pandas as pd

data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:

    salary = employee['salary'].unique()
    salary.sort()
    
    if len(salary) > 1:
        return pd.DataFrame({'SecondHighestSalary': [salary[-2]]})
    else:
        return pd.DataFrame({'SecondHighestSalary': [None]})

print(second_highest_salary(employee))

## 코멘트
* {col name1 : [v1, v2, ...] } 이런 식으로 컬럼 뒤에는 iterable 가능한 List나 Tuple을 넣어야한다.
* 단일 값으로 넣어서 실수하지 않기.